<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>

{{- $description := partialCached "data/description" . .RelPermalink -}}
<meta name='description' content='{{ $description }}'>

{{- if and .IsPage .Params.tags -}}
    <meta name='keywords' content='{{ delimit .Params.tags ", " }}'>
{{- end -}}

{{- $title := partialCached "data/title" . .RelPermalink -}}
<title>{{ $title }}</title>

{{ $url := .Permalink | safeURL }}
{{ if $.Site.Params.TrimTrailingSlash }}
    {{ $url = $url | replaceRE "/$" "" }}
{{ end }}
<link rel='canonical' href='{{ $url }}'>

{{- partial "head/style.html" . -}}
{{- partial "head/script.html" . -}}
{{- partial "head/opengraph/include.html" . -}}

{{- range .AlternativeOutputFormats -}}
    {{ $url := .Permalink }}
    {{ if $.Site.Params.TrimTrailingSlash }}
        {{ $url = $url | replaceRE "/$" "" }}
    {{ end }}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ $url }}">
{{- end -}}

{{ with .Site.Params.favicon }}
    <link rel="shortcut icon" href="{{ . }}" />
{{ end }}

{{- template "_internal/google_analytics.html" . -}}
{{- partial "head/custom.html" . -}}
